// ==========================================================================
// Accordian
// ==========================================================================

.accordian {
    ul ul {
        display: none;
    }

    li.active ul {
        display: block;
    }

    h3 {
        cursor: pointer;
    }
}