// ==========================================================================
// Offcanvas
// ==========================================================================

.offcanvas {
	position: relative;
	padding: em(10px);
	letter-spacing: $letter-space;
	background: $color-secondary;
}
