doctype html
html

    include head.jade

    body

        include header.jade

        .grid
            .grid__col--12
                h1.headline-primary--grouped.text-centered Frequently Answered Questions
                h2.headline-secondary--grouped.text-centered.
                    get answers to some of the most frequently answered questions




        .grid
            .grid__col--9
                form.form
                    label.form__label--hidden(for="search") Search for your answer:
                    .search-box
                        input.form__input(type="text", placeholder="Search for your answer...")
                        button.form__btn--search(type="submit")
                            i.fa.fa-search
            .grid__col--3
                button.btn--default Ask Your Question



        .grid
            .centered.grid__col--10
                .accordian
                    ul
                        li
                            h3
                                i.fa.fa-plus  Drivers
                                span.subtitle-small 17 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.

                            h3
                                i.fa.fa-plus  Irons
                                span.subtitle-small 26 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.

                            h3
                                i.fa.fa-plus  MPF
                                span.subtitle-small 37 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.

                            h3
                                i.fa.fa-plus  Hybrids
                                span.subtitle-small 23 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.

                            h3
                                i.fa.fa-plus  Wedges
                                span.subtitle-small 14 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.

                            h3
                                i.fa.fa-plus  Putters
                                span.subtitle-small 31 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                            h3
                                i.fa.fa-plus  Shafts
                                span.subtitle-small 43 Questions
                            ul
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.

                            h3
                                i.fa.fa-plus  Swingweight
                                span.subtitle-small 8 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.


                            h3
                                i.fa.fa-plus  Golf Balls
                                span.subtitle-small 19 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.


                            h3
                                i.fa.fa-plus  Fitting
                                span.subtitle-small 12 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.

                            h3
                                i.fa.fa-plus  Repair & Alteration
                                span.subtitle-small 34 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.

                            h3
                                i.fa.fa-plus  General
                                span.subtitle-small 25 Questions
                            ul
                                li
                                    blockquote Ralph, what’s your professional opinion of triangular shaped driver heads?
                                    p Anthony, for the most part, shapes are mostly marketing. The U.S.G.A. has so many restrictions on driver design that the manufacturers needed some place to go to keep interest in high priced drivers.Most of the shapes have been tested extensively and they do work (as well as a normal more conventional shape). If a shaped (triangular in your case) driver works for you when you demo it; then use it, but do not expect any more of a miracle than you would get from another well designed normal shaped modern technology driver.
                                li
                                    blockquote I’ve had a basic understanding of what MOI is but recently a golfing buddy asked why the square clubheads in drivers havemoreMOI than themore round ones. I couldn’t answer that one.
                                    p Brice, picture an overlay drawing from the top view of both the Nike SQ Sumo round 460cc driver and the SQ Sumo2 square 460cc driver. If you looked down at the drawing (overlay) you would see the square rear corners of the square driver protruding farther out than the round driver in this area.
                                    p This added protrusion of the rear corners distributes more weight to the rear and more weight to the outside of the head. The designers also add more weight in this area inside the head to accentuate the weight shift The farther out from the heads center of gravity that you distribute the weight the higher the moment of inertia.

        include footer.jade