.panel-primary--bottom-margin
    .grid
        header.grid__col--12.panel(role="banner")
            a.site-logo--left(href="index.html")
                b.srt Ralph Maltby
            nav.navbar(role="navigation")
                span#toggle.icn--nav-toggle.is-displayed-mobile
                    b.srt Toggle
                ul.nav.is-collapsed-mobile
                    li.nav__item
                        a(href="products.html") products
                    li.nav__item
                        a(href="learn.html") learn
                    li.nav__item
                        a(href="ask.html") ask
                    li.nav__item
                        a(href="about.html") about
                    li.nav__item
                        a(href="contact.html") contact