doctype html
html

    include head.jade

    body

        include header.jade

        .grid
            .grid__col--8
                img.img--wrap(src="img/Golf-Course.jpg")
                h3.headline-article: a(href="#") Article title goes here
                cite By: Ralph Maltby
                cite On: 04/18/2015
                cite.
                    In: <a href="#">News</a>
                p.text-large Fall-ish, unpleasant car mind-maker-upper something elephant fox terrible place Dibble Dibble Dibble Dopp winning-est balancing hte bust Eiffelberg Tower anywhere points Dopp Dopp road tomorrow? Un-slumping win mind-maker-upper, Pop Pop Pop she and unpleasant thousand jumps harm Boom Boom Boom nonsensical Tock discovered friend when after.
                p Winning-est Blurp Blurp carryings-on whatever Who-ville Town Square bones rushed rang Splatt Splatt Splatt planning took am kangaroos' kangaroos wiggled seeing. Horton's oh prickle-ly Knock Knock mind-maker-upper bellowing pleaded TV millionth carryings-on afternoon spoke trouble did Dibble Dibble Dibble Dribble Slurp Slurp Who-ville Town Square by, to Mr. Mayor Wickersham Brothers blasted sincerely.
                button.btn--default.btn--small Read More

                img.img--wrap(src="img/Golf-Course-BW.jpg")
                h3.headline-article: a(href="#") Article title goes here
                cite By: Ralph Maltby
                cite On: 04/18/2015
                cite.
                    In: <a href="#">News</a>
                p.text-large Fall-ish, unpleasant car mind-maker-upper something elephant fox terrible place Dibble Dibble Dibble Dopp winning-est balancing hte bust Eiffelberg Tower anywhere points Dopp Dopp road tomorrow? Un-slumping win mind-maker-upper, Pop Pop Pop she and unpleasant thousand jumps harm Boom Boom Boom nonsensical Tock discovered friend when after.
                p Winning-est Blurp Blurp carryings-on whatever Who-ville Town Square bones rushed rang Splatt Splatt Splatt planning took am kangaroos' kangaroos wiggled seeing. Horton's oh prickle-ly Knock Knock mind-maker-upper bellowing pleaded TV millionth carryings-on afternoon spoke trouble did Dibble Dibble Dibble Dribble Slurp Slurp Who-ville Town Square by, to Mr. Mayor Wickersham Brothers blasted sincerely.
                button.btn--default.btn--small Read More

            .grid__col--4
                .widget
                    h3 Menu
                    ul.menu
                        li.menu__link--large
                            a(href="ask.html").
                                <i class="fa fa-comments"></i> Ask
                        li.menu__link--large
                            a(href="faq.html").
                                <i class="fa fa-question-circle"></i> FAQ
                        li.menu__link--large
                            a(href="#").
                                <i class="fa fa-area-chart"></i> MPF Ratings
                        li.menu__link--large
                            a(href="#").
                                <i class="fa fa-video-camera"></i> Video Library
                        li.menu__link--large
                            a(href="#").
                                <i class="fa fa-graduation-cap"></i> Club Making Academy
                .widget
                    h3 Search
                    label.form__label--hidden(for="search") Search:
                    input.form__input(type="text", placeholder="Search...")
                    input.form__btn(type="submit", value="Submit")

                .widget
                    h3 Topics
                    ul.menu
                        li.menu__link
                            a(href="#") How To
                        li.menu__link
                            a(href="#") News
                        li.menu__link
                            a(href="#") Reviews
                        li.menu__link
                            a(href="#") Updates

                .widget
                    h3 Popular Articles
                    ul.menu
                        li.menu__link
                            a(href="#") Article 1 goes here
                        li.menu__link
                            a(href="#") Article 2 goes here
                        li.menu__link
                            a(href="#") Article 3 goes here
                        li.menu__link
                            a(href="#") Article 4 goes here
                        li.menu__link
                            a(href="#") Article 5 is longer than the other Articles
                        li.menu__link
                            a(href="#") Article 6

        include footer.jade